<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>laptops</title>
	<link rel="stylesheet" href="css/template_styles.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="heading clearfix">
				<div class="logo">
					<a href="index.html"><img src ="images/logo12.png" alt="laptops" />
					</a>
				</div>
				<div class="menu">
					<nav>
						<ul class="mmenu">
							<li>
								<a href="#">Casio</a>
							</li>
							<li>
								<a href="#">Tissot</a>
							</li>
							<li>
								<a href="#">Omega</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="container">

	</div>
	<footer>
		<div class="container">
			<div class="footer-middle">
				<p>
					Copyright &#169 2019 Watches.com. All rights reserved.
				</p>
			</div>
		</div>
	
	</footer>
</body>
</html>